<div class="postBlog"[ngStyle]="{'background-color' : getBackColor(), color : getTextColor()} " li > 
        <div class="col-12 row">
                <div class="col-10">
                       <h1> <strong>{{title}}</strong> </h1>
                </div>
                <div class="col-2 divDate">
                        {{created_at | date: 'short' }}
                </div>
        </div>
        <div class="col-12">
                {{content}}
        </div>

        <div class="col-12 buttonRow " >
            <button class="btn btn-success" (click)="compteurAdd()" id={{compteur}} style="margin: 5px">Love it! {{compteur}}  	&#10084; </button>
            <button class="btn btn-danger" (click)="compteurDown()" id={{compteur}} >Don't love it!</button>
        </div>
</div>
